---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/profile/README.md";
---

<Layout
  title="茨大航技研"
  description="茨城大学公認学生団体 茨城大学航空技術研究会の Web サイトです。日々の活動やイベント情報を掲載します。"
>
  <main>
    <div class="content">
      <Profile />
    </div>
  </main>

  <style>
    main {
      margin: 0 auto;
      width: clamp(320px, 80vw, 800px);
    }
    h1 {
      text-align: center;
    }
    .content {
      margin: 2rem 0;
    }
    section {
      margin-top: 2rem;
      a[href^="/"] {
        color: #0070f3;
        margin: 0 0.25rem;
      }
    }
  </style>
</Layout>
