---
interface Category {
  name: string;
  text: string;
}

const { name, text } = Astro.props;
---

<div class="bg">
  <div class="word-group">
    {
      name
        .trim()
        .split("")
        .map((word: string, index: number) => (
          <span style={{ animationDelay: `${index * 0.05}s` }} class="word">
            {word}
          </span>
        ))
    }
  </div>
  <span class="text">{text}</span>
</div>
<style>
  .bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(320px, 80vw, 800px);
    margin: 1rem auto;
    padding: 0 0 1.5rem;
    background-color: var(--sky);
    color: var(--white);
    border-radius: 1rem;
  }
  .word-group {
    display: inline-block;
    overflow: hidden;
    padding: 0 1rem;
  }
  .word {
    display: inline-block;
    overflow: clip;
    font-size: 3rem;
    font-weight: 700;
    transform: translate3d(0, 100%, 0);
    animation: slide 0.6s ease forwards;
  }
  .text {
    display: block;
    font-size: 1rem;
  }
  @keyframes slide {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
