---
import "@pagefind/default-ui/css/ui.css";
---

<div id="search"></div>
<style is:global>
  .pagefind-ui__drawer {
    overflow: scroll;
  }
</style>
<style>
  #search {
    padding: 1rem;
  }
</style>
<script is:inline>
  window.onload = () => {
    import("/pagefind/pagefind-ui.js").then(() => {
      new PagefindUI({ element: "#search" });
    });
  };
</script>
